/*----------------------
* basic.css
*
* @author: Yan
* @link: yanjin.info
* @update: 2013-06
*
* -------------------- */

/* ------- 字体 -------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700,600);
@import url(http://fonts.googleapis.com/css?family=Galdeano);

/* ------- 基本风格 ------- */
body {
	font-size: 10px;
	font-family: 'Galdeano', 'Open Sans', sans-serif;
	background-color: rgb(238, 238, 238);
}

div {
	display: block;
}

a {
	color: #CD5C5C;
	text-decoration:none;
}
a:hover {
	color: #008B8B;
	text-decoration:none;
}

/* 头像 */
img.portrait{
	height: 10em;
	width: 10em;
	border-radius: 100%;
	float: right;
}

span.post_time {
	float: right;
}

li.post_item {
	list-style: none;
	border-bottom: 1px solid lightGray;
}

/* 结构布局 */
#main {
	margin: auto;
	width: 99%;
}

header.topbar {
	padding: .5em;
	text-align: center;
	height: 6em;
}

.slidebar {
	font-size: 1.5em;
	font-family: 'Galdeano', 'Open Sans', serif;
	text-transform: uppercase;
	width: 15%;
	text-align: right;
	float: left;
}
.slidebar a {
	display: block;
	padding: .7em 1em;
}
.slidebar a:hover {
	background-color: #696969;
	color: #00FFFF;
	-webkit-transition:color .2s linear;
}

.content {
	font-size: 1.6em;
	line-height: 2em;
}

.comments, .content {
	border: 1px solid lightGray;
	background-color: white;
	border-radius: 5px;
	padding: 1em;
}

.topbar, .comments, .content {
	width: 63%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

/* ------- 临时风格 ------- */