/*----------------------
* basic.css
*
* @author: Yan
* @link: yanjin.info
* @update: 2013-06
*
* -------------------- */

/* ------- 基本风格 ------- */
body {
	font-size: 10px;
	font-family: sans-serif;
	background-color: rgb(238, 238, 238);
}

div {
	display: block;
}

a {
	color: blue;
	text-decoration:none;
}
a:hover {
	color: green;
	text-decoration:none;
}

/* 结构布局 */
#main {
	margin: auto;
	width: 800px;
}

header.topbar {
	padding: .5em 0;
	text-align: left;
	margin-bottom: 1em;
}

nav.slidebar {
	font-size: 1.5em;
	font-family: serif;
	width: 8em;
	margin-left: -10em;
	text-align: right;
	float: left;
}
nav a {
	display: block;
	padding: .7em 1em;
	color: red;
}
nav a:hover {
	background-color: purple;
	color: blue;
	-webkit-transition:color .2s linear;
}

.content {
	font-size: 1.6em;
	line-height: 2em;
	border: 1px solid lightGray;
	background-color: white;
	border-radius: 5px;
}


/* ------- 临时风格 ------- */